.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-options-container {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.account-option {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}

.account-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.account-option {
    font-size: 30px;
    padding: 5vh;
    margin: 5vh;
    border-bottom: 3px solid black;
    border-radius: 3px;
}

.account-grid {
    display: grid;
    min-width: 95%;
    gap: 1vh;
    padding-block: 1vh;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.grid-span-2 {
    grid-column: span 2;
    border-radius: 5px;
    padding: 2vh;
    line-height: 2;
    background-color: lightgrey;
}

.grid-span-1 {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 2vh;
    line-height: 2;
}


