.root {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: black;
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0%;
    min-height: 5vh;
    max-height: 6vh;
    justify-content: space-between;
}

.feed-title {
    font-family: helvetica,arial,sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 5vh;
    color: grey;
    z-index: 999999;
}

.navlink {
    background-color: transparent;
    padding: 10px;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    z-index: 5;
}

.navlink-open {
    color: white;
    background-color: black;
}



.navlink-hidden {
    background-color: transparent;
    padding: 10px;
    font-weight: 500;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
}



.logo-text {
    color: white;
    background-color: black;
    position: absolute;
    font-weight: 700;
    text-shadow: .5px .5px grey;
    font-size: 24px;
    margin-left: 2vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    min-width: 100px;
    background-color: black;
    float: left;
    margin-top: 20px;
}

.first-dot {
    background-color: rgb(0, 102, 255);
    border: 1px solid black;
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: -7vh;
}

.second-dot {
    background-color: rgb(247, 12, 168);
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin-left: -5vh;
}

.horizontal-feed {
    width: 80vh;
    height: 40vh;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    overflow-x: auto;
    overflow-y: hidden;
}

.horizontal-update {
    width: 80vh;
    height: 40vh;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    overflow-x: auto;
    overflow-y: hidden;
}

.horizontal-feed-container {
 background-color: white;
 margin-top: 5vh;   
}

.feed {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.feed, .feed-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-feed-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 10;
    padding: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.horizontal-update-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    z-index: 10;
    padding: 15px;
}

.horizontal-feed-item:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.horizontal-feed-item-text {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 12px;
}
.browse {
    width: 90%;
    margin: 0 auto;
}

.browse, .browse-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.user-modal {
    border-radius: 50%;
    background-color: blueviolet;
    color: black;
    text-align: center;
    border: 1px solid grey;
    min-height: 15px;
    min-width: 15px;
    max-height: 20px;
    max-width: 20px;
    padding: 5px;
}

.username {
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.user-details {
    display: flex;
    flex-direction: column;
    padding: 1vh;
}


.view-profile-button {
    background-color: lightskyblue;
    padding: 2px;
    color: black;
    font-size: 10px;
    text-align: center;
    height: 30%;
    border: 1px solid grey;
    border-radius: 2px;
    margin: 0 auto;

}

.user-feed-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
    width: 20vh;
    padding: 1vh;
}

.horizontal-feed-img {
    display: flex;
    max-height: 30vh;
    max-width: 25vh;
}

.dots-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mini-first-dot {
    background-color: rgb(0, 102, 255);
    border: 1px solid black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.mini-second-dot {
    background-color: rgb(247, 12, 168);
    border-radius: 50%;
    border: 1px solid black;
    width: 10px;
    height: 10px;
}

.member-since {
    font-size: 8px;
    color: black;
}

.navlink:hover + .navlink-open + .navlink-hidden {
    color: white;
    background-color: black;
}