// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.photo-show-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.photo-show-container {
    display: flex;
    justify-content: center;
    max-height: 50vh;
    max-width: 40vh;
    margin-top: 2vh;
}

.comments-container {
    margin-top: 5vh;
}

.comments-list {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    background-color: lightslategray;
    border-radius: 5px;
    border: 1px solid black;
}

.comment-item-other {
    background-color: white;
    border-radius: 5px;
    padding: 1vh;
    justify-self: flex-start;
    margin-left: -2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 1px solid black;
}

.comment-item-self {
    background-color: lightblue;
    border-radius: 5px;
    justify-self: flex-end;
    padding: 1vh;
    margin-left: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 1px solid black;
}

.like-button {
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.tag-button {
    background-color: violet;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.photo-show-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-body {
    display: flex;
    text-align: center;
    max-width: 50vh;
    margin-top: 2vh;
}

.comment-input {
    padding: 5vh;
    background-color: lightblue;
    min-width: 50vh;
    margin-top: 2vh;
}

.submit-comment {
    display: flex;
    padding: 5px 10px 5px 10px;
    background-color: lightgreen;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid black;
}

.post-photo-container {
    position: fixed;
    width: 50vh;
    height: 65vh;
    top: 10%;
    margin-left: 5vh;
    border: 5px solid black;
    z-index: 999999;
    
}

.post-photo-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.post-photo-title {
    font-size: auto;
    text-align: center;
    padding: 1vh;
    border-bottom: 2px solid grey;
    width: 80%;
    margin: 0 auto;
}

.upload-photo-text, .upload-photo-caption-text  {
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-photo-caption-button {
    line-height: 2;
    background-color: lightblue;
    border: 1px solid black;
    width: 40vh;
}

.post-photo-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.create-album-button {
    padding: 2vh;
    background-color: rgb(0, 102, 255);
    color: white;
    border-radius: 2px;
    margin-right: 5vh;
}

.post-photo-button {
    padding: 2vh;
    background-color: rgb(247, 12, 168);
    color: white;
    margin-left: 5vh;
    border-radius: 2px;
}

.close-modal {
    position: absolute;
    background-color: white;
    color: black;
    border-radius: 2px;
    padding: 1vh;
    cursor: pointer;
    top: 0%;
    left: 92%;

    
}

.close-modal:hover {
    background-color: black;
    color: white;
}

