// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    width: 50vh;
    height:50vh;
    top: 50%;
    left: 50%;
    background-color: rgb(253, 253, 253);
    border-radius: 2px;
}

.session-button {
    background-color: #128fdc;
    cursor: pointer;
    padding-bottom: 4px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
    text-transform: none;
    height: 18px;
    width: 150px;
}

.button-text {
    font-size: 10px;
    font-weight: 500;
    background-color: #128fdc;
    color: white;
}

body, html {
    height: 100%;
    margin: 0;
}

.background {
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    background-size: cover;

}




ul.emptynav {
    overflow: hidden;
    position: fixed;
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 30px;
    z-index: 1;
}
ul img {
    height: 15px;
    width: 15px;
    background-color: rgb(32, 32, 32);
    text-decoration: none;
}

ul li {
    background-color: rgb(32, 32, 32);
}

li strong {
    float: left;
    margin-left: 30px;
    color: white;
    background-color: rgb(32, 32, 32);
    font-weight: 700;
    font-size: 14px;
}

.login-text {
    align-self: center;
    font-size: 14px;
}


.logo {
    height: 25px;
    width: 40px;
    align-self: center;
}

.sign-up {
    padding: 10px;
}

.sign-up2 {
    padding: 10px;
}

.link {
    color: blue; 
    cursor: pointer;
}

.login-form input {
    display: block;
    width: 210px;
    height: 30px;
    border: .5px solid grey;
}

.login-form label {
    float: left;
    color:darkgrey;
    background-color: transparent;
    font-size: 8px;
    position: absolute;
} 

.error {
    color: red;
    font-size: 10px;
    text-decoration: none;
}

.button-text2 {
    font-size: 10px;
    font-weight: 500;
    background-color: #128fdc;
    color: white;
}
