.navbar {
    overflow: hidden;
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 40px;
}

.navbar li {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

li strong {
    float: left;
    margin-left: -33px;
    margin-top: -8px;
}

.links {
    background-color: rgb(32, 32, 32);
    justify-content: space-evenly;
}

.feed {
    display: flex;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 500px;
    height:500px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}

.feed h2 {
    background-color: rgb(32, 32, 32);
    color: white;
}

.construction {
    height: 400px;
    width: 400px;
}